@charset "UTF-8";
/*!
 * ress.css • v2.0.2
 * MIT License
 * github.com/filipelinhares/ress
 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  /* Prevent adjustments of font size after orientation changes in iOS */
  word-break: break-word;
  -moz-tab-size: 4;
  tab-size: 4;
}

*,
::before,
::after {
  background-repeat: no-repeat;
  /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit;
  /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0;
  /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
   # General elements
   # ================================================================= */
hr {
  overflow: visible;
  /* Show the overflow in Edge and IE */
  height: 0;
  /* Add the correct box sizing in Firefox */
}

details,
main {
  display: block;
  /* Render the `main` element consistently in IE. */
}

summary {
  display: list-item;
  /* Add the correct display in all browsers */
}

small {
  font-size: 80%;
  /* Set font-size to 80% in `small` elements */
}

[hidden] {
  display: none;
  /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: none;
  /* Remove the bottom border in Chrome 57 */
  /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
  text-decoration: underline;
  text-decoration: underline dotted;
}

a {
  background-color: transparent;
  /* Remove the gray background on active links in IE 10 */
}

a:active,
a:hover {
  outline-width: 0;
  /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* Specify the font family of code elements */
}

pre {
  font-size: 1em;
  /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
  font-weight: bolder;
  /* Add the correct font weight in Chrome, Edge, and Safari */
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* # =================================================================
   # Forms
   # ================================================================= */
input {
  border-radius: 0;
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
  /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type="search"] {
  -webkit-appearance: textfield;
  /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
  overflow: auto;
  /* Internet Explorer 11+ */
  resize: vertical;
  /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold;
  /* Restore the font weight unset by the previous rule */
}

button {
  overflow: visible;
  /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
  text-transform: none;
  /* Firefox 40+, Internet Explorer 11- */
}

/* Apply cursor pointer to button elements */
button,
[type="button"],
[type="reset"],
[type="submit"],
[role="button"] {
  cursor: pointer;
  color: inherit;
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

/* Style select like a standard input */
select {
  -moz-appearance: none;
  /* Firefox 36+ */
  -webkit-appearance: none;
  /* Chrome 41+ */
}

select::-ms-expand {
  display: none;
  /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor;
  /* Internet Explorer 11+ */
}

legend {
  border: 0;
  /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit;
  /* Correct the color inheritance from `fieldset` elements in IE */
  display: table;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge and IE */
  white-space: normal;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge 18- and IE */
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
  color: inherit;
  font: inherit;
  /* Change font properties to `inherit` in Chrome and Safari */
}

/* # =================================================================
   # Specify media element style
   # ================================================================= */
img {
  border-style: none;
  /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

svg:not([fill]) {
  fill: currentColor;
}

/* # =================================================================
   # Accessibility
   # ================================================================= */
/* Hide content from screens but not screenreaders */

/* Specify the progress cursor of updating elements */
[aria-busy="true"] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled] {
  cursor: default;
}

/* ここから style.scss
----------------------------------------*/
html {
  width: 100%;
}

body {
  font-size: 16px;
  color: #333333;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
  background: #FFFFFF;
  line-height: 1;
}

a {
  text-decoration: none;
}

.wrapper {
  margin: 0 auto;
  max-width: 1180px;
  padding: 0 5px;
}

img {
  border: 0;
  height: auto;
  max-width: 100%;
  vertical-align: top;
}

.title {
  text-align: center;
  padding: 120px 0 70px;
  font-size: 2.5rem;
  font-family: 'Nanum Myeongjo', serif;
}

.title::after {
  content: '';
  display: block;
  margin: 20px auto 0;
  border-bottom: 2px solid rgba(0, 140, 255, 0.5);
  max-width: 300px;
}

section:nth-of-type(odd) {
  background: #f0eeee;
}

.top_btn {
  display: none;
}

.lightbox_group {
  display: none;
}

/* ふわっと表示 */
.scroll-up {
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.3s;
}

.scroll-up.done, .scroll-fade.done {
  opacity: 1;
  transform: translate(0, 0);
}

.load-up {
  opacity: 0;
  transform: translateY(100px);
  transition: all 2s;
}

.load-up.done, .load-fade.done {
  opacity: 1;
  transform: translate(0, 0);
}

/* HEADER
----------------------------------------*/
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 15px 0;
  box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
  background: #ffffff;
  z-index: 200;
}

.header__content {
  max-width: 800px;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  list-style: none;
  width: 100%;
}

.header__nav li {
  font-family: 'Nanum Myeongjo', serif;
  cursor: pointer;
  padding: 10px 0 0;
  width: 23%;
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
}

.header__nav li a {
  color: #333333;
  display: block;
}

.header__nav li a::after {
  content: '';
  display: block;
  width: 0;
  margin: 6px auto 0;
  border-bottom: 1px solid #008cff;
  transition: width 0.3s ease-in-out;
}

.header__nav li a:hover::after {
  width: 100%;
}

/* ハンバーガーメニュー/トップへボタン
----------------------------------------*/

/* TOP
----------------------------------------*/
.top {
  padding: 90px 0 140px;
  margin-top: 70px;
  text-align: center;
  font-family: 'Nanum Myeongjo', serif;
  letter-spacing: 10px;
}

.top__text {
  padding: 20% 0;
  font-size: 4.375rem;
  border-top: 2px solid rgba(0, 140, 255, 0.4);
  border-bottom: 2px solid rgba(0, 140, 255, 0.4);
}

.top__text--s {
  font-size: 2.5rem;
  margin-top: 10px;
}

/* SKILL
----------------------------------------*/
.skill {
  padding: 0 0 140px;
}

.skill__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 20px;
}

.skill__item {
  width: 350px;
  padding: 15px 5px;
  margin: 0 auto 40px;
  border-radius: 12%;
  border-bottom: 2px solid #f0eeee;
  border-top: 2px solid #f0eeee;
  border-right: 2px solid rgba(0, 140, 255, 0.3);
  border-left: 2px solid rgba(0, 140, 255, 0.3);
}

.skill__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
}

.skill__image img {
  width: 90px;
  height: auto;
}

.skill__name {
  text-align: center;
  margin: 20px 0 25px;
  font-size: 1.25rem;
}

.skill__txt {
  padding: 0 40px;
  line-height: 1.2;
}

/* WORKS
----------------------------------------*/
.works {
  padding: 0 0 120px;
}

.works__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.works__item {
  transition: 0.3s;
  width: 20%;
  padding-bottom: 20px;
}

.works__item img {
  width: 100%;
  height: 200px;
  border: 1px solid rgba(0, 140, 255, 0.4);
  object-fit: cover;
  object-position: 50% 0%;
}

.works__item img:hover {
  margin: -10px 0 10px;
  transition: 0.3s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.works__item small {
  line-height: 1.4;
}

.works__description {
  margin: 20px 0 5px 0;
}

.works__description a {
  color: #333333;
}

.works__description a:hover {
  text-decoration: underline;
}

.works__link {
  margin-top: 5px;
}

.works__link__sp {
  display: block;
}

/* ABOUT
----------------------------------------*/
.about {
  padding: 0 0 140px;
}

.about__content {
  text-align: center;
}

.about__content p {
  line-height: 2;
}

/* CONTACT
----------------------------------------*/
.contact {
  padding: 0 0 140px;
}

.contact__txt {
  text-align: center;
}

.contact__mail-address {
  font-family: 'Fjalla One', sans-serif;
  text-align: center;
  margin: 10px 0 50px;
  letter-spacing: 2px;
  font-size: 1.125rem;
}

.contact__mail-address i {
  font-size: 1.25rem;
  margin-right: 5px;
  vertical-align: bottom;
}

/* FOOTER
----------------------------------------*/
.footer {
  background-color: rgba(140, 198, 221, 0.692);
  padding: 50px 0;
  text-align: center;
  width: 100%;
}

.footer p {
  font-size: 0.75rem;
}

@media screen {
  [hidden~="screen"] {
    display: inherit;
  }
  [hidden~="screen"]:not(:active):not(:focus):not(:target) {
    position: absolute !important;
    clip: rect(0 0 0 0) !important;
  }
}

@media only screen and (max-width: 575px) {
  .title {
    font-size: 1.875rem;
    padding: 80px 0 30px;
  }
  .header {
    height: 50px;
    top: -1px;
    padding: 0;
  }
  .header__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .header__nav li {
    width: 100%;
    margin: 0 auto 50px;
  }
  nav {
    display: block;
    position: fixed;
    top: 0;
    left: -300px;
    bottom: 0;
    width: 80%;
    background: #ffffff;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    transition: all .5s;
    z-index: 3;
    opacity: 0;
  }
  .open nav {
    left: 0;
    opacity: 1;
  }
  nav .inner {
    padding: 25px;
  }
  nav .inner ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  nav .inner ul li {
    position: relative;
    margin: 0;
  }
  nav .inner ul li a {
    display: block;
    color: #333;
    font-size: 14px;
    padding: 1em;
    text-decoration: none;
    letter-spacing: 2px;
    transition-duration: 0.2s;
  }
  /*============
  .toggle_btn
  =============*/
  .top_btn {
    display: block;
    position: fixed;
    top: 12px;
    right: 20px;
    width: 30px;
    height: 30px;
    transition: all .5s;
    cursor: pointer;
    z-index: 3;
  }
  .top_btn span {
    display: block;
    position: absolute;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: #333;
    border-radius: 4px;
    transition: all .5s;
  }
  .top_btn span:nth-child(1) {
    top: 4px;
    left: 6px;
    width: 12px;
    transform: rotate(135deg);
  }
  .top_btn span:nth-child(2) {
    top: 14px;
    left: 3px;
    width: 25px;
    transform: rotate(90deg);
  }
  .top_btn span:nth-child(3) {
    top: 5px;
    left: 14px;
    width: 12px;
    transform: rotate(45deg);
  }
  .toggle_btn {
    display: block;
    position: fixed;
    top: 10px;
    left: 20px;
    width: 30px;
    height: 30px;
    transition: all .5s;
    cursor: pointer;
    z-index: 3;
  }
  .open .toggle_btn {
    left: 85%;
  }
  .toggle_btn span {
    display: block;
    position: absolute;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: #333;
    border-radius: 4px;
    transition: all .5s;
  }
  .toggle_btn span:nth-child(1) {
    top: 4px;
  }
  .toggle_btn span:nth-child(2) {
    top: 14px;
  }
  .toggle_btn span:nth-child(3) {
    bottom: 4px;
  }
  .open .toggle_btn span {
    background-color: #fff;
  }
  .open .toggle_btn {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  .open .toggle_btn span:nth-child(1), .open .toggle_btn span:nth-child(3) {
    width: 16px;
  }
  .open .toggle_btn span:nth-child(1) {
    -webkit-transform: translate(-1px, 4px) rotate(-45deg);
    transform: translate(-1px, 4px) rotate(-45deg);
  }
  .open .toggle_btn span:nth-child(3) {
    -webkit-transform: translate(-1px, -4px) rotate(45deg);
    transform: translate(-1px, -4px) rotate(45deg);
  }
  /*============
  #mask
  =============*/
  #mask {
    display: none;
    transition: all .5s;
  }
  .open #mask {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .8;
    z-index: 2;
    cursor: pointer;
  }
  .top {
    padding: 70px 0 120px;
  }
  .top__text {
    font-size: 3.125rem;
  }
  .skill {
    padding: 0 0 20px;
  }
  .skill__content {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: auto;
  }
  .skill__content__wrapper {
    overflow-x: auto;
    overflow-y: visible;
    -webkit-overflow-scrolling: touch;
  }
  .skill__content__wrapper::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    border-radius: 8px;
  }
  .skill__content__wrapper::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.15);
    border-radius: 8px;
  }
  .skill__content__wrapper::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  .skill__item {
    padding: 5px;
    margin-right: 5px;
    width: 80vw;
  }
  .skill__name {
    margin: 10px 0 15px;
    font-size: 0.9375rem;
  }
  .skill__txt {
    font-size: 0.875rem;
  }
  .works {
    padding: 0 0 20px;
  }
  .works__content {
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: auto;
  }
  .works__content__wrapper {
    overflow-x: auto;
    overflow-y: visible;
    -webkit-overflow-scrolling: touch;
  }
  .works__content__wrapper::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    border-radius: 8px;
  }
  .works__content__wrapper::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.15);
    border-radius: 8px;
  }
  .works__content__wrapper::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  .works__item {
    padding: 5px;
    margin-right: 5px;
    width: 80vw;
  }
  .works__description {
    margin: 10px 0 5px 0;
    font-size: 0.9375rem;
  }
  .works__link {
    font-size: 0.875rem;
  }
  .about {
    padding: 0 0 20px;
    font-size: 0.875rem;
  }
  .contact {
    padding: 0 0 20px;
  }
  .contact__mail-address {
    font-size: 0.9375rem;
  }
  .footer {
    padding: 20px;
    font-size: 0.625rem;
  }
}
